// Definición de variables para colores
$black: #0e141b;
$white: white;
$dark-gray: #333;
$celeste:#0abcc2;

// Mixin para breakpoint
@mixin breakpoint($bp) {
  @if $bp == "small" {
    @media (max-width: 480px) { @content; }
  }
  @else if $bp == "medium" {
    @media (max-width: 768px) { @content; }
  }
  @else if $bp == "large" {
    @media (max-width: 1024px) { @content; }
  }
}

.aboutContainer{
    background-color: $black ;
    height: 100vh;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
   
    
}

.typingText {
    animation: typing 2s  linear;
    font-size: 120px;

    @include breakpoint("small") {
      font-size: 50px;
      margin-top: 100px;
      animation: none;
    }
    @include breakpoint("medium") {
      font-size: 80px;
      animation: none;
      
    }


    @keyframes typing {
      from { width: 0; }
      to { width: 100%; }
    }
  }
  
 
.aboutImage{
  margin: 0px 50px;

  @include breakpoint("small") {
    display: none;
  }
  @include breakpoint("medium") {
    display: none;
    
  }

}



.aboutText {
  font-size: 30px;
  width: 70%;
  @include breakpoint("small") {
   font-size: 12px;
   margin: 10px;
    width: 100%;
  }
  @include breakpoint("medium") {
    font-size: 18px;
   margin: 10px;
    width: 100%;
    
  }
  @include breakpoint("large") {
    font-size: 24px;
    
   }
}
 

.workContainer{
  background-color: $black ;
  margin-bottom: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 250px;

  @include breakpoint("small") {
    margin-left: 0px;
  }
  @include breakpoint("medium") {
    margin-left: 10px;
    
  }
 
}