// Definición de variables para colores
$black: #0e141b;
$white: white;
$dark-gray: #333;
$celeste: #0abcc2;

// Mixin para breakpoint
@mixin breakpoint($bp) {
  @if $bp == "small" {
    @media (max-width: 480px) { @content; }
  }
  @else if $bp == "medium" {
    @media (max-width: 768px) { @content; }
  }
  @else if $bp == "large" {
    @media (max-width: 1024px) { @content; }
  }
}


.home {
  background-color: $black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: $white;

  @include breakpoint("small") {
    background-size: cover;
    height: auto;
    padding-top: 20vh;
    
   
  } 

  @include breakpoint("medium") {
    background-size: cover;
    height: auto;
    padding-top: 20vh;
  }
  .combinedEffect {
    text-decoration: none !important;
  }
}

// Estilos para el texto
.textContainer {
 
 

  
  // Estilos para el título
  .title1 {
    
    @include breakpoint("small") {
      font-size: 12px;
      margin-left: 5px;
    }
    
    @include breakpoint("medium") {
      font-size: 18px;
      margin-left: 50px;
    }
  
  
  }
  // Estilos para el subtítulo
  .title2 {
    
    @include breakpoint("small") {
      font-size: 12px;
    }
    
    @include breakpoint("medium") {
      font-size: 48px;
      margin-left: 50px;
    }
  }
  // Estilos para el texto
  .title3 {
    
    @include breakpoint("small") {
      font-size: 12px;
    }
    
    @include breakpoint("medium") {
      font-size: 16px;
      margin-left: 50px;
    }
  }
}


